[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.10.2"

[packages]
discord-py-interactions = "*"
"discord.py" = "*"
python-dotenv = "*"
requests = "*"
dataclasses-json = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
