[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.10.2"

[packages]
discord-py-interactions = {ref = "unstable", git = "https://github.com/interactions-py/library.git"}
"discord.py" = "*"
python-dotenv = "*"
dataclasses-json = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
enhanced = "*"

[dev-packages]
